extends layout

block content

  .row
    .col-xs-7
      p.
        One page info site for the community minecraft server for the
        <a href="http://dutchgamegarden.nl/">Dutch Game Garden</a>. If you
        want to join our crafting madness, fill in the form to your right.

      h3.well#mchost-well
        |Minecraft IP Address:&nbsp;
        span#mchost.text-info= config.mchost
    .col-xs-4.col-md-offset-1

      .panel.panel-default
        .panel-heading
          h3.panel-title Join us!
        .panel-body
          p.text-warning.
            Dutch Game Garden e-mail address required!
          #subscribe
            form(role="form",method="post")!= form
              button.btn.btn-primary(type="submit") Submit

  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          h3.panel-title Last seen online
        .panel-body
          each player in online
            .slot.online
              img.skin(src="http://s3.amazonaws.com/MinecraftSkins/#{player}.png")
              .name= player
          each player in latest
            .slot
              img.skin(src="http://s3.amazonaws.com/MinecraftSkins/#{player}.png")
              .name= player

block script
  script(src="static/javascripts/mcSkinRenderer.js")
  script.
    renderMCSkins('skin', 4);
  script.
    $('#mchost-well').click(function (){
      var $this = $('#mchost');
      var text = $this.text();
      var $input = $('<input id=mchost type=text readonly>');
      $input.prop('value', text);
      $input.insertAfter($this);
      $input.focus();
      $input.select();
      $this.hide();
      $input.focusout(function(){
          $this.show();
          $input.remove();
      });
    });
